<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div id="login-form">
            <form action="/login" method="post">
                <ul>
                    <li>
                        <label>
                            Username
                            <input type="text" name="user" />
                        </label>
                    </li>
                    <li>
                        <label>
                            Password
                            <input type="password" name="password" />
                        </label>
                    </li>
                    <li>
                        <input type="submit" value="Press me" />
                    </li>
                </ul>
            </form>
        </div>
    </body>
</html>

